<%= render partial: 'form' %>

<% if @cats_list.size > 0 %>
    <h4>
      Best price for your options: <%= @best_price %>
    </h4>

    <table class=" table table-striped">
      <thead>
      <tr>
        <th width="7%">Type</th>
        <th width="7%">Price</th>
        <th width="7%">Location</th>
        <th>Image</th>
      </tr>
      </thead>

      <tbody>
      <% @cats_list.each do |cat| %>
          <tr>
            <td><%= cat.cat_category.name %></td>
            <td><%= cat.price %></td>
            <td><%= cat.city.name %></td>
            <td><%= image_tag(cat.image, width: '150px') %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @cats_list %>
<% else %>
    <p>
      Sorry, no cats for your location
    </p>
<% end %>
